.tooltip-container {
    display: inline-block;
  }
  
  .tooltip-container .tooltiptext {
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, bottom 0.5s ease;
    transform: translateY(0); /* No transformation initially */
  }
  
  .tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow should still point to the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip-container .tooltiptext.visible {
    visibility: visible;
    opacity: 1;
    bottom: 150%; /* Move to 30px above */
    transform: translateY(0px); /* Apply the transformation */
  }
  